h2 {
    color: blue;
    font-size: 2rem;
}

.container {
    display: flex;
    column-gap: 2rem;
}

.container div {
    width: 100px;
    background-color: red;
    /* margin: 15px; */
}


@media screen and (min-width: 750px) {
    h2 {
        color: red;
    }

    .container {
        flex-direction: column;
        row-gap: 2rem;
    }
}

@media screen and (min-width: 820px) {
    .container {
        background-color: brown;
    }
}
